.chat-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 60px;
    padding: 5px 16px;

    background-color: #202c33;
}

.chat-inputs-ctrls {
    height: 100%;
    width: 80px;
}

.field-message {
    margin-right: 10px;
}

.btn-send {
    width: 60px;
    height: 38px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}